<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">  
                <form class="form">
                    <div class="form-group m-t-40 row">
                        <label class="col-2 col-form-label">Frase</label>
                        <div class="col-10">
                            <input class="form-control" type="text" value="Artisanal kale">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">Estado Actual</label>
                        <div class="col-10">
                            <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                        </div>
                    </div>                    
                    <div class="form-group row">                       
                        <div class="col-10">
                            <input type="button" class="form-control" id="range">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>